extends layout

block content
  h1= 'Taru Laurean herrasta'
  p Klikkaa yllä olevia linkkejä saadaksesi tietoa ohjelmasta
  <img class="logo" src="https://www.wpclipart.com/recreation/entertainment/magic/wizard_hat.png" alt="My_Logo">