doctype html
html
  head
    title= 'Taru Laurean Herrasta'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Koti - Taru Laurean Herrasta
    br
    a(href='/pelaajat') Parhaat Pelaajat
    br
    a(href='/stats') Statistiikkaa

    block content
