extends layout

block content
    .row
      h4 Uusi voittaja
    form(action="", method="post")
        .form-group.row
            label Pelaaja
                input.form-control(name="player")
        .form-group.row
            label Pisteet
                input.form-control(name="score")
        .form-group.row
                button.btn-primary Add